@font-face {
  font-family: "NotesESAbold";
  src: url("https://github.com/EOX-A/ESA-UI/raw/refs/heads/main/fonts/notesesabol.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NotesESAbold", sans-serif;
}
