@font-face {
  font-family: "NotesESAbold";
  src: url($esa-bold) format("truetype");
}

:root {
  --secondary: 001923;
  --tertiary: 00b19d;
  --header_background: 003247;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: "NotesESAbold", sans-serif;
}
