html {
  --secondary: #001923;
  --header_background: #003247;
}
.btn {
  background-color: #00b19d;
  color: #fff;
  .d-button-label,
  .d-icon {
    color: #fff;
  }
}
.discourse-no-touch .btn:hover {
  background-color: #01bfaa;
  .d-icon {
    color: #fff;
  }
}
